/* Định dạng bảng */
.table-container {
  overflow-x: auto;
}

.data-table {
  width: 100%; /* Điều chỉnh chiều rộng bảng tùy ý */
  border-collapse: collapse;
  table-layout: fixed; /* Giữ chiều rộng cột cố định */
}

.data-table th,
.data-table td {
  padding: 8px; /* Giảm padding để tiết kiệm không gian */
  border: 1px solid #ddd;
}

/* Định dạng cột tiêu đề và tác vụ (nhỏ hơn) */
.title-column {
  width: 20%; /* Điều chỉnh theo ý muốn */
}

.task-header {
  width: 15%; /* Điều chỉnh theo ý muốn */
}

/* Định dạng cột nội dung (chiếm phần còn lại) */
.content-column {
  width: 65%; /* Phần còn lại sẽ được phân bổ cho cột này */
}

/* Định dạng cột nội dung */
.content-cell {
  height: 100px;
  overflow-y: auto;
  max-width: 300px; /* Giới hạn chiều rộng của cột nội dung */
}

/* Định dạng nút xem thêm */
.toggle-button {
  color: blue;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  padding: 0;
  font-size: inherit;
}

.toggle-button:hover {
  color: red;
}

.popup-text-container {
  max-height: 300px;
  overflow-y: auto;
}
